<?php
if(!isset($_SESSION["ID"])&&($_SESSION["STATUS"]!="ACTIEF")){
    echo "<script> alert('U heeft geen toegang tot deze pagina.');
    location.href='../index.php';
    </script>";
}
?>
<div class="content">
    <form name="albumtoevoegen" class="form" method="POST" >
    <p id="page_titel">Album toevoegen</p>
    <label>Titel:</label>
    <input type="text" name="titel" id="titel" />
    <label>Artiest:</label>
    <input type="text" name="artiest" id="artiest" />
    <label>Genre:</label>
    <input type="text" name="genre" id="genre" />
    <label>Prijs:</label>
    <input type="text" name="prijs" id="prijs" />
    <label>Voorraad:</label>
    <input type="text" name="voorraad" id="voorraad" />
    <p>Upload cover:</p>
    <input type="file" name="cover" id="cover"> <br>
    <div class="icon_container">
        <input type="submit" class="icon" id="submit" name="submit" value="&rarr;" />
    </div>
    <a href="index.php?page=albums">Terug</a>
    </form>
</div>