<?php
if(!isset($_SESSION["ID"])&&($_SESSION["STATUS"]!="ACTIEF")){
    echo "<script> alert('U heeft geen toegang tot deze pagina.');
    location.href='../index.php';
    </script>";
}
?>
<div class="content">
    <form name="klanttoevoegen" class="form" method="POST" >
    <p id="page_titel">Klant toevoegen</p>
    <label>Voornaam:</label>
    <input type="text" name="voornaam" id="voornaam" />
    <label>Achternaam:</label>
    <input type="text" name="achternaam" id="achternaam" />
    <label>Straat:</label>
    <input type="text" name="straat" id="straat" />
    <label>Postcode:</label>
    <input type="text" name="postcode" id="postcode" />
    <label>Woonplaats:</label>
    <input type="text" name="woonplaats" id="woonplaats" />
    <label>Email:</label>
    <input type="text" name="email" id="email" />
    <div class="icon_container">
        <input type="submit" class="icon" id="submit" name="submit" value="&rarr;" />
    </div>
    <a href="index.php?page=klanten">Terug</a>
    </form>
</div>